{% extends "BlogLeyes/padre.html" %}

{% load static %}

{% block content %}

<h3 class="header-title"><strong class="text-primary">BLOG</strong><span>LEYES</span></h3>
<h4 class="header-subtitle">SOBRE NOSOTROS </h4>
<p>Nosotros somos Mateo De Martino y Matias Leyes, dos estudiantes del curso numero 31075 de Coderhouse.  Y en esta secciòn les hablaremos un poco sobre nosotros.
    
    Yo soy Mateo De Martino, soy desarrollador web fullstack, me gusta todo lo relacionado con la tecnologia y la mecanica 

    Yo soy Matias Leyes, Contador publico con Master en Finanzas, apasionado de los nùmeros y de los mercados financieros.



    </p>

<P>{{mensaje}}</P>
                       
{% endblock %}

{% block cuadro %}



{% endblock %}