<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>Blog Leyes</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{%static 'BlogLeyes/assets/css/themify-icons.css' %}">
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="{%static 'BlogLeyes/assets/css/rubic.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">BLOG </strong><span class="text-light">LEYES</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'themesList' %}">Temas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'writerList' %}">Escritores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donorList' %}">Donantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ownerList' %}">Owners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'BusquedaEscritor' %}">Buscar Escritor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}">Sing Up</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <header class="header d-flex justify-content-center">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-7">
                    <div class="header-content">
                        {% block content %}

                        <h3 class="header-title"><strong class="text-primary">BLOG</strong><span>LEYES</span></h3>
                        <h4 class="header-subtitle">El Blog que nuclea a todos los escritores, de todos los temas </h4>
                        <p>Ya sea que busque temas de los mas variados, o tenga cosas para compartir con el mundo, esta en el lugar correcto!</p>
                       
                        {% endblock %}
                    </div>  

                </div>
                {% block cuadro %}

                {% endblock %}
                </div>
            </div>  
        </div>
    </header>

    {% block contenidoQueCambia %}

    {% endblock %}


    <footer class="footer py-4 bg-dark text-light"> 
        <div class="container text-center">
            <p class="mb-4 small">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p>
            <div class="social-links">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </div>
    </footer>
	
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Rubic js -->
    <script src="assets/js/rubic.js"></script>

</body>
</html>
