{% extends "BlogLeyes/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


<h1> Registro de Temas </h1>

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Si usted queire agregar un tema, por favor complete el siguiente formulario</h1>

{% if myForm.errors%}

    <p style="color: red"> Estan mal los datos</p>

{% endif %}


<form action="" method="POST"> {% csrf_token %}
    
    <table>

        {{myForm.as_table}}

    </table>

    <input type="submit" value="Enviar">

</form> 




{% endblock %}